<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/images/favicon.png"
    />
    <title>ICAPS 2021</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
    <link href="competitions.css" rel="stylesheet" />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/component/myheader.js" type="module"></script>
  </head>
  <body class="bg-light">
    <div id="icaps-header">
              <link href="../assets/component/myheader.css" rel="stylesheet" />
        <nav class="navbar navbar-light  navbar-expand-lg ">
            <div class="container-fluid d-flex">
               <a class="navbar-brand text-dark">ICAPS 2021</a>
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="/home" class="nav-link px-2" >Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"  href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Program
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li >
                                <a href="/papers" class="dropdown-item" >Papers</a>
                            </li>

				                <li>
                                        <a class="dropdown-item" href="/workshops" >Workshops</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/tutorials">Tutorials</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/demos">Demos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Competitions" >Competitions</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Schedule/invited-speakers.html"
                                            >Invited Speakers</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Schedule/industry-session.html"
                                            >Industry Session</a>
                                    </li>

                                </ul>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="/InvitedSpeakers/" class="nav-link px-2"  :class="{active:curpage=='invitedSpeakers'}">Invited Speakers</a>
                            </li> -->
                            <li class="nav-item">
                                <a href="/awards" class="nav-link px-2" >Awards</a>
                            </li>
                              <!-- <li class="nav-item">
                                <a href="/Calls" class="nav-link px-2"  :class="{active:curpage=='calls'}">Calls</a>
                            </li> -->

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_calls" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Calls
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown_calls">
                                    <li>
                                        <a class="dropdown-item" href="/Calls">Calls for Participation</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/sponsorship" >Sponsorship</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" :class="{active:curpage=='attending'}" href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Attending
                                </a>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_commitee" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Committee
                                </a><ul class="dropdown-menu" aria-labelledby="navbarDropdown_commitee">

                            <li>
                                <a href="/Committee" class="dropdown-item" >Organizing Team</a>
                            </li>
                                <li>
                                <a href="/Committee/reviewers.html" class="dropdown-item">Committee Members & Reviewers</a>
                            </li>
                                                            </ul>
                                                        </li>

                            <!-- <li class="nav-item">
                                <a href="/exhibition/" class="nav-link px-2"  :class="{active:curpage=='exhibition'}">Exhibition</a>
                            </li> --><li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a href="/code-of-conduct.html" class="nav-link px-2" >Code of conduct</a>
                            </li>
                        </ul>
                        <!-- login and user info button -->
<!--                        <span class="btn-group dropdown navbar-right">-->
<!--                            <button type="button" class="btn btn-sm btn-primary" @click="login()" v-if="!isLogin" style="color: white;">-->
<!--                            Login-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-if="isLogin">-->
<!--                                <span >{{user.profile.first_name  }}</span>-->
<!--                            </button>-->
<!--                            <ul class="dropdown-menu">-->
<!--                            <li>-->
<!--                                <button  class="dropdown-item" @click="userInfo()" v-if="isLogin && user.profile.first_name" >-->
<!--                                    Profile-->
<!--                                </button>-->
<!--                                <button class="dropdown-item " @click="logout" v-if="isLogin">Logout</button>-->
<!--                            </li>-->
<!--                            </ul>-->
<!--                            &ensp;-->
<!--                            <button type="button" class="btn btn-sm btn-primary " @click="attending" v-if="isRegistration">-->
<!--                                <span>Attending</span>-->
<!--                            </button>-->
<!--                        </span>-->
                    </div>
                </div>
            </nav>
    </div>

    <div class="album mt-3">
      <div style="height: 100px" class="d-none d-md-block">
        <!-- padding hack for the fixed navbar -->
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 p-4">
            <div class="row">
              <div class="card shadow-sm mb-4">
                <img
                  src="../assets/images/competitions/l2rpn.png"
                  width="100%"
                />
                <div class="card-body">
                  <h6>
                    <h4 style="display: inline">
                      Learning to Run a Power Network with Trust
                    </h4>
<!--                    <span class="badge bg-danger m-2">LIVE</span>-->
                  </h6>
                  <div class="mt-2">
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1"
                      >Winner (New Entrant Track) 4,500 USD</span
                    >
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Winner (Anyone Track) 7,500 USD</span>
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Best Student Prize 1,000 USD</span>
                    <br />
                  </div>
                  <p class="card-text mt-4 mb-4">
                    On the way towards a sustainable future and following up the
                    success of
                    <a href="https://l2rpn.chalearn.org/" target="_blank"
                      >L2RPN 2020 NeurIPS competition</a
                    >, this competition aims at unleashing the power of
                    artificial intelligence even further for our real-world
                    industrial application: controlling electricity power
                    transmission in real-time and moving closer to truly “smart”
                    grids using underutilized flexibilities. In 2020,
                    participants were asked to develop an agent to be robust to
                    unexpected events and keep delivering reliable electricity
                    everywhere even in difficult circumstances.
                    <br />
                    <br />
                    In this competition, participants, while dealing with a
                    higher penetration of renewable energy, will be asked in
                    addition to design trustworthy agents that are able to
                    communicate when they are in trouble, especially when they
                    might fail. This will more concretely lead the path towards
                    an AI assistant for human operators, who will still be
                    responsible for managing the grid, rather than a mere
                    blackbox agent. Join us for this Augmented Intelligence
                    competition!
                  </p>
                  <div>
                    <a
                      href="https://competitions.codalab.org/competitions/?q=icaps"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-icaps text-white"
                      >Compete</a
                    >
                    <a
                      href="https://youtu.be/q4F-peykOFE"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-primary text-white"
                      >Recording</a
                    >
                    <a
                      href="https://ibm.box.com/s/bn8h4wxp0jhwhhucj4e0itusui3awan6"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-dark text-white"
                      >Slides</a
                    >
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mb-4">
                <img
                  src="../assets/images/competitions/4paradigm.png"
                  width="100%"
                />

                <div class="card-body">
                  <h6>
                    <h4 style="display: inline">
                      Automatic Reinforcement Learning for Dynamic Job Shop
                      Scheduling Problem
                    </h4>
                  </h6>
                  <div class="mt-2">
                    <i
                      class="bi bi-trophy-fill golden m-1"
                      style="font-size: 1rem"
                    ></i>
                    <span class="m-1"
                      >Winners will be invited to speak at the ICAPS 2021
                      Competition Session.</span
                    >
                  </div>
                  <div class="mt-2">
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">First Prize 5,000 USD</span>
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Second Prize 2,000 USD</span>
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Third Prize 1,000 USD</span>
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Special Prizes 500 USD</span>
                  </div>
                  <p class="card-text mt-4 mb-4">
                    In this competition, participants are invited to develop
                    automatic reinforcement learning solutions to the dynamic
                    job shop scheduling problem (DJSSP). The solutions are
                    expected to automatically train promising agents on a
                    distribution of DJSSP tasks. After a feedback phase where
                    solutions can be developed and fine-tuned with daily
                    feedback, those that perform best on a set of five unseen
                    tasks win the competition.
                  </p>
                  <div>
                    <a
                      href="https://www.4paradigm.com/content/details_85_2026.html"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-icaps text-white"
                      >Compete</a
                    >
                    <a
                      href="https://youtu.be/8gSCxHZY_1M"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-primary text-white"
                      >Recording</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 p-4">
            <div class="row">
              <div class="card shadow-sm mb-4">
                <img
                  src="../assets/images/competitions/flatland.png"
                  width="100%"
                />

                <div class="card-body">
                  <h6>
                    <h4 style="display: inline">
                      The Flatland Challenge: Multi-Agent Reinforcement Learning
                      on Trains
                    </h4>
<!--                    <span class="badge bg-danger m-2">LIVE</span>-->
                  </h6>
                                                      <div class="mt-2">
                    <i
                      class="bi bi-trophy-fill golden m-1"
                      style="font-size: 1.2rem"
                    ></i>
                                      <span class="m-1">First Prize <a href="https://www.dji.com/mini-2">DJI Mavic Mini 2 Fly More Combo</a></span>
                    <br />
                    <i
                      class="bi bi-trophy-fill  trophy-2 m-1"
                      style="font-size: 1.2rem"
                    ></i>
                                      <span class="m-1">Second Prize <a href="https://www.oculus.com/quest-2/">Oculus Quest 2</a></span>
                    <br />
                    <i
                      class="bi bi-trophy-fill  trophy-3 m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Third Prize <a href="https://www.oculus.com/quest-2/">Oculus Quest 2</a></span>

                  </div>

                  <p class="card-text mt-4 mb-4">
                    This challenge tackles a key problem in the transportation
                    world: How to efficiently manage dense traffic on complex
                    railway networks? This is a real-world problem faced by many
                    transportation and logistics companies around the world such
                    as the Swiss Federal Railways and Deutsche Bahn. Your
                    contribution may shape the way modern traffic management
                    systems are implemented, not only in railway but also in
                    other areas of transportation and logistics!
                  </p>
<!--                  <div class="mt-2">-->
<!--                    <i-->
<!--                      class="bi bi-trophy-fill golden m-1"-->
<!--                      style="font-size: 1rem"-->
<!--                    ></i>-->
<!--                    <span class="m-1"-->
<!--                      >The winners will be eligible for various prizes including.</span-->
<!--                    >-->
<!--                  </div>-->

                  <div>
                    <a
                      href="https://www.aicrowd.com/challenges/flatland-3"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-icaps text-white"
                      >Compete</a
                    >
                    <a
                      href="https://youtu.be/baRffuFM7lE"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-primary text-white"
                      >Recording</a
                    >
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mb-4">
                <img
                  src="../assets/images/competitions/huawei_updated.png"
                  width="100%"
                />

                <div class="card-body">
                  <h6>
                    <h4 style="display: inline">
                      The Dynamic Pickup and Delivery Problem
                    </h4>
                  </h6>
                  <div class="mt-2">
                    <i
                      class="bi bi-trophy-fill golden m-1"
                      style="font-size: 1rem"
                    ></i>
                    <span class="m-1"
                      >Winners will be invited to speak at the ICAPS 2021
                      Competition Session.</span
                    >
                  </div>
                  <div class="mt-2">
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">First Prize 5,000 USD</span>
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Second Prize 3,000 USD</span>
                    <br />
                    <i
                      class="bi bi-cash money-green m-1"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="m-1">Third Prize 2,000 USD</span>
                  </div>
                  <p class="card-text mt-4 mb-4">
                    <!-- Huawei manufactures billions of productions in hundreds of
                    factories every year during which a large amount of cargoes
                    need to be delivered among factories. Due to the
                    uncertainties of customers' requirements and production
                    processes, most delivery requirements cannot be fully
                    decided beforehand. The delivery orders, with the
                    information including the pickup factories, delivery
                    factories, the amount of cargoes and the time requirement,
                    occur randomly and a fleet of homogeneous vehicles is
                    periodically scheduled to serve these orders. Due to the
                    large amount of deliver requests, even a small improvement
                    of the logistics efficiency can bring significant benefits.
                    Participate in this challenge to develop efficient
                    optimization algorithms to dispatch orders and plan the
                    route of vehicles. -->
                    The Dynamic Pickup and Delivery Problem (DPDP) is an
                    essential problem within the logistics domain. So far,
                    research on this problem has mainly focused on using
                    artificial data which fails to reflect the complexity of
                    real-world problems. With this competition, we hope to
                    promote the research and development of techniques
                    applicable to such problems, by building the competition
                    around a dataset generated from real business scenarios of
                    Huawei Technologies Ltd.
                  </p>
                  <div>
                    <a
                      href="https://competition.huaweicloud.com/information/1000041411/introduction"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-icaps text-white"
                      >Compete</a
                    >
                    <a
                      href="https://youtu.be/SL-iBAQTJKM"
                      target="_blank"
                      type="button"
                      class="btn btn-sm btn-primary text-white"
                      >Recording</a
                    >
                  </div>
                </div>
              </div>
              <div class="card-body mb-4">
                <h4>ICAPS Competitions</h4>
                <p class="card-text mt-2">
                  Read more about the rich history of competitions at ICAPS
                  <a
                    href="https://www.icaps-conference.org/competitions/"
                    target="_blank"
                    >here</a
                  >, including more than two decades of the International
                  Planning Competition. This year we continue this tradition and
                  bring to you a host of challenges based on real world data
                  with help from our partners across industry and academia. We
                  hope this keeps you busy during the summer as we await a
                  slightly delayed ICAPS in Fall! &#129299;
                </p>

                <p>
                  <b>Got questions?</b> Please reach out to the
                  <a href="../Committee" class="text-icaps"
                    >ICAPS 2021 Competition Chairs</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
