<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/images/favicon.png"
    />
    <title>ICAPS 2021</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
    <link href="awards.css" rel="stylesheet" />
    <link href="../demos/demos.css" rel="stylesheet" />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
  </head>
  <body class="bg-white">
    <div id='icaps-header'>
              <link href="../assets/component/myheader.css" rel="stylesheet" />
        <nav class="navbar navbar-light  navbar-expand-lg ">
            <div class="container-fluid d-flex">
               <a class="navbar-brand text-dark">ICAPS 2021</a>
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="/home" class="nav-link px-2" >Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"  href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Program
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li >
                                <a href="/papers" class="dropdown-item" >Papers</a>
                            </li>

				                <li>
                                        <a class="dropdown-item" href="/workshops" >Workshops</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/tutorials">Tutorials</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/demos">Demos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Competitions" >Competitions</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Schedule/invited-speakers.html"
                                            >Invited Speakers</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Schedule/industry-session.html"
                                            >Industry Session</a>
                                    </li>

                                </ul>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="/InvitedSpeakers/" class="nav-link px-2"  :class="{active:curpage=='invitedSpeakers'}">Invited Speakers</a>
                            </li> -->
                            <li class="nav-item">
                                <a href="/awards" class="nav-link px-2" >Awards</a>
                            </li>
                              <!-- <li class="nav-item">
                                <a href="/Calls" class="nav-link px-2"  :class="{active:curpage=='calls'}">Calls</a>
                            </li> -->

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_calls" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Calls
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown_calls">
                                    <li>
                                        <a class="dropdown-item" href="/Calls">Calls for Participation</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/sponsorship" >Sponsorship</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" :class="{active:curpage=='attending'}" href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Attending
                                </a>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_commitee" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Committee
                                </a><ul class="dropdown-menu" aria-labelledby="navbarDropdown_commitee">

                            <li>
                                <a href="/Committee" class="dropdown-item" >Organizing Team</a>
                            </li>
                                <li>
                                <a href="/Committee/reviewers.html" class="dropdown-item">Committee Members & Reviewers</a>
                            </li>
                                                            </ul>
                                                        </li>

                            <!-- <li class="nav-item">
                                <a href="/exhibition/" class="nav-link px-2"  :class="{active:curpage=='exhibition'}">Exhibition</a>
                            </li> --><li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a href="/code-of-conduct.html" class="nav-link px-2" >Code of conduct</a>
                            </li>
                        </ul>
                        <!-- login and user info button -->
<!--                        <span class="btn-group dropdown navbar-right">-->
<!--                            <button type="button" class="btn btn-sm btn-primary" @click="login()" v-if="!isLogin" style="color: white;">-->
<!--                            Login-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-if="isLogin">-->
<!--                                <span >{{user.profile.first_name  }}</span>-->
<!--                            </button>-->
<!--                            <ul class="dropdown-menu">-->
<!--                            <li>-->
<!--                                <button  class="dropdown-item" @click="userInfo()" v-if="isLogin && user.profile.first_name" >-->
<!--                                    Profile-->
<!--                                </button>-->
<!--                                <button class="dropdown-item " @click="logout" v-if="isLogin">Logout</button>-->
<!--                            </li>-->
<!--                            </ul>-->
<!--                            &ensp;-->
<!--                            <button type="button" class="btn btn-sm btn-primary " @click="attending" v-if="isRegistration">-->
<!--                                <span>Attending</span>-->
<!--                            </button>-->
<!--                        </span>-->
                    </div>
                </div>
            </nav>
    </div>

    <script src="/assets/component/myheader.js" type="module"></script>

    <div class="album mt-3 bckg">
      <div style="height: 100px" class="d-none d-md-block">
        <!-- padding hack for the fixed navbar -->
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4 p-4">
            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">Influential Paper Award</h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >FF-Replan: A Baseline for Probabilistic Planning</b
                    >
                  </p>
                  <p>
                    <b>Authors:</b> Sungwook Yoon, Alan Fern, and Robert Givan.
                  </p>
                  <a
                    href="https://www.aaai.org/Papers/ICAPS/2007/ICAPS07-045.pdf"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">Best Paper Award</h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >Flexible FOND Planning with Explicit Fairness
                      Assumptions</b
                    >
                  </p>
                  <p>
                    <b>Authors:</b> Ivan Rodriguez, Blai Bonet, Sebastian
                    Sardina and Hector Geffner.
                  </p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15973/15784"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">Best Paper Runner-Up Award</h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >S*: A Heuristic Information-Based Approximation Framework
                      for Multi-Goal Path Finding</b
                    >
                  </p>
                  <p>
                    <b>Authors:</b> Kenny Chour, Sivakumar Rathinam, and R Ravi.
                  </p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15950/15761"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">Best Paper Runner-Up Award</h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >Scheduling with Complete Multipartite Incompatibility
                      Graph on Parallel Machines</b
                    >
                  </p>
                  <p>
                    <b>Authors:</b> Tytus Pikies, Krzysztof Turowski, and Marek
                    Kubale.
                  </p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15970/15781"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>



          </div>
                    <div class="col-12 col-lg-4 p-4">
            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">Best Student Paper Award</h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >Knowledge Compilation for Nondeterministic Action
                      Languages</b
                    >
                  </p>
                  <p>
                    <b>Authors:</b> Sergej Scheck, Alexandre Niveau, and Bruno
                    Zanuttini.
                  </p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15975/15786"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">
                    Best Student Paper Runner-Up Award
                  </h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >On the Compilability and Expressive Power of
                      State-Dependent Action Costs</b
                    >
                  </p>
                  <p>
                    <b>Authors:</b> David Speck, David Borukhson, Robert
                    Mattmüller, and Bernhard Nebel.
                  </p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15981/15792"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">
                    Best Student Paper Runner-Up Award
                  </h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b>Exploiting Cyclic Dependencies in Landmark Heuristics</b>
                  </p>
                  <p>
                    <b>Authors:</b> Clemens Büchner, Thomas Keller, and Malte
                    Helmert.
                  </p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15948/15759"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">
                    Best Undergraduate Student Paper Award
                  </h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <b
                      >Fully Observable Nondeterministic HTN Planning --
                      Formalisation and Complexity Results</b
                    >
                  </p>
                  <p><b>Authors:</b> Dillon Chen, and Pascal Bercher.</p>
                  <a
                    href="https://ojs.aaai.org/index.php/ICAPS/article/view/15949/15760"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-12 col-lg-4 p-4">
            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h4 style="display: inline">
                    People's Choice Best System Demonstration Award
                  </h4>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <i class="bi bi-trophy-fill trophy trophy-1"></i>
                    <strong
                      >Scalable Rail Planning and Replanning: Winning the 2020
                      Flatland Challenge</strong
                    >
                    by Jiaoyang Li, Zhe Chen, Yi Zheng, Shao-Hung Chan, Daniel
                    Harabor, Peter J. Stuckey, Hang Ma, and Sven Koenig.
                  </p>
                  <a
                    href="../demos/demos/384.pdf"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                  <a
                    href="https://youtu.be/Pw4GBL1UhPA"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    Video
                  </a>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <i class="bi bi-trophy-fill trophy trophy-2"></i>
                    <strong
                      >Demos for a Course in Single-Agent Heuristic
                      Search</strong
                    >
                    by Nathan Sturtevant.
                  </p>
                  <a
                    href="../demos/demos/382.pdf"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                  <a
                    href="https://www.youtube.com/watch?v=rc-cxvUSxeM"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    Video
                  </a>
                  <hr />
                  <p class="card-text mt-4 mb-2">
                    <i class="bi bi-trophy-fill trophy trophy-3"></i>
                    <strong
                      >A Planning.Domains Plugin for Heuristic
                      Visualization</strong
                    >
                    by Caitlin Aspinall, Cam Cunningham, Ellie Sekine, and
                    Christian Muise.
                  </p>
                  <a
                    href="../demos/demos/377.pdf"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    PDF
                  </a>
                  <a
                    href="https://www.youtube.com/watch?v=avR_WZfe5E8"
                    target="_blank"
                    type="button"
                    class="btn btn-outline-dark btn-sm"
                  >
                    Video
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
  <div class="card shadow-sm mb-4 award_cards">
    <div class="card-body">
      <h4 style="display: inline">Best Dissertation Award</h4>
      <hr />
      <p class="card-text mt-4 mb-2">
        <b
          >Target Assignment and Path Planning for Navigation Tasks with Teams of Agents</b
        >
        by
        Hang Ma.
      </p>
      <a
        href="http://digitallibrary.usc.edu/digital/collection/p15799coll89/id/319337"
        target="_blank"
        type="button"
        class="btn btn-outline-dark btn-sm"
      >
        Read
      </a>
  </div>
  </div>
</div>

            <div class="row">
<div class="card shadow-sm mb-4 award_cards">
<div class="card-body">
<h4 style="display: inline">Best Dissertation Award Honorable Mention</h4>
<hr />
<p class="card-text mt-4 mb-2">
<b
>Planning under Uncertainty in Constrained and Partially Observable Environments</b
>
by
Erwin Walraven.
</p>
<a
href="https://repository.tudelft.nl/islandora/object/uuid%3Aea79ba64-262f-4696-abda-f7d143b97bc9"
target="_blank"
type="button"
class="btn btn-outline-dark btn-sm"
>
Read
</a>
</div>
</div>
</div>
            <div class="row">
              <div class="card shadow-sm mb-4 award_cards">
                <div class="card-body">
                  <h5 style="display: inline">
                    Outstanding Senior Program Committee Members
                  </h5>
                  <hr />
                  <p class="card-text mt-1 mb-4">Thomas Keller</p>

                  <h5 style="display: inline">
                    Outstanding Program Committee Members
                  </h5>
                  <hr />
                  <p class="card-text mt-1 mb-4">
                    Salomé Eriksson <br />
                    Gregor Behnke <br />
                    Tathagata Chakraborti
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
