<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/images/favicon.png"
    />
    <title>ICAPS 2021</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
    <link href="demos.css" rel="stylesheet" />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="demos.js"></script>
    <script type="module" src="demo_vue.js"></script>
  </head>
  <body>
    <div id="icaps-header">
              <link href="../assets/component/myheader.css" rel="stylesheet" />
        <nav class="navbar navbar-light  navbar-expand-lg ">
            <div class="container-fluid d-flex">
               <a class="navbar-brand text-dark">ICAPS 2021</a>
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="/home" class="nav-link px-2" >Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"  href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Program
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li >
                                <a href="/papers" class="dropdown-item" >Papers</a>
                            </li>

				                <li>
                                        <a class="dropdown-item" href="/workshops" >Workshops</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/tutorials">Tutorials</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/demos">Demos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Competitions" >Competitions</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Schedule/invited-speakers.html"
                                            >Invited Speakers</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Schedule/industry-session.html"
                                            >Industry Session</a>
                                    </li>

                                </ul>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="/InvitedSpeakers/" class="nav-link px-2"  :class="{active:curpage=='invitedSpeakers'}">Invited Speakers</a>
                            </li> -->
                            <li class="nav-item">
                                <a href="/awards" class="nav-link px-2" >Awards</a>
                            </li>
                              <!-- <li class="nav-item">
                                <a href="/Calls" class="nav-link px-2"  :class="{active:curpage=='calls'}">Calls</a>
                            </li> -->

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_calls" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Calls
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown_calls">
                                    <li>
                                        <a class="dropdown-item" href="/Calls">Calls for Participation</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/sponsorship" >Sponsorship</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" :class="{active:curpage=='attending'}" href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Attending
                                </a>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_commitee" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Committee
                                </a><ul class="dropdown-menu" aria-labelledby="navbarDropdown_commitee">

                            <li>
                                <a href="/Committee" class="dropdown-item" >Organizing Team</a>
                            </li>
                                <li>
                                <a href="/Committee/reviewers.html" class="dropdown-item">Committee Members & Reviewers</a>
                            </li>
                                                            </ul>
                                                        </li>

                            <!-- <li class="nav-item">
                                <a href="/exhibition/" class="nav-link px-2"  :class="{active:curpage=='exhibition'}">Exhibition</a>
                            </li> --><li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a href="/code-of-conduct.html" class="nav-link px-2" >Code of conduct</a>
                            </li>
                        </ul>
                        <!-- login and user info button -->
<!--                        <span class="btn-group dropdown navbar-right">-->
<!--                            <button type="button" class="btn btn-sm btn-primary" @click="login()" v-if="!isLogin" style="color: white;">-->
<!--                            Login-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-if="isLogin">-->
<!--                                <span >{{user.profile.first_name  }}</span>-->
<!--                            </button>-->
<!--                            <ul class="dropdown-menu">-->
<!--                            <li>-->
<!--                                <button  class="dropdown-item" @click="userInfo()" v-if="isLogin && user.profile.first_name" >-->
<!--                                    Profile-->
<!--                                </button>-->
<!--                                <button class="dropdown-item " @click="logout" v-if="isLogin">Logout</button>-->
<!--                            </li>-->
<!--                            </ul>-->
<!--                            &ensp;-->
<!--                            <button type="button" class="btn btn-sm btn-primary " @click="attending" v-if="isRegistration">-->
<!--                                <span>Attending</span>-->
<!--                            </button>-->
<!--                        </span>-->
                    </div>
                </div>
            </nav>
    </div>
    <script src="/assets/component/myheader.js" type="module"></script>

    <div class="album mt-3 p-4">
      <div style="height: 100px" class="d-none d-md-block">
        <!-- padding hack for the fixed navbar -->
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="alert alert-icaps" role="alert">
              Demos are now live! The live interacive session will be on Aug 11.
              <a href="../Schedule"
                ><span class="badge bg-danger">Schedule</span></a
              >
              <a class="vote" href="#voting-area"
                ><span class="badge bg-icaps">Vote</span></a
              >
            </div>

            <div class="row">
              <div class="col-12 col-md-6 col-lg-4" id="demo-area-1"></div>

              <div class="col-12 col-md-6 col-lg-4" id="demo-area-2"></div>

              <div class="col-12 col-md-6 col-lg-4" id="demo-area-3"></div>
            </div>
            <div id="demo_app" v-cloak>
              <div class="card" id="voting-area">
                <div class="card-body">
                  <div v-if="login_view(isLogin)">
                  </div>
                    <div id="login-area" class="alert alert-primary" role="alert">
                      You must log in to vote.
                      <a
                        class="btn btn-sm btn-primary text-white"
                        href="../login"
                        >Login</a
                      >
                    </div>
                    <div id="form-area" class="d-none">
                      <h3>
                        <i class="bi bi-trophy-fill trophy trophy-1"></i>
                        <i class="bi bi-trophy-fill trophy trophy-2"></i>
                        <i class="bi bi-trophy-fill trophy trophy-3"></i>
                      </h3>

                      <hr />

                      <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                          <input
                            type="hidden"
                            id="email"
                            name="email"
                            v-bind:value="user.email"
                          />
                          <div class="form-check">
                            <div id="vote-candidates"></div>

                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                              id="invalidCheck"
                              required
                            />
                            <label class="form-check-label" for="invalidCheck">
                              I am not voting for myself.
                              <span class="text-danger"
                                >Voting for self will cause
                                disqualification.</span
                              >
                            </label>
                            <div class="invalid-feedback">
                              You must agree before submitting.
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">
                            Submit vote
                          </button>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="card card-no-border mb-3">
              <div class="card-body">
                <h5 class="card-title">ICAPS Best Demo Award</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <span id="total-vote-count">X</span> votes
                </h6>
                <p class="card-text small">
                  The best demo is decided by people's choice. Vote for your
                  favorite demo now!
                  <span class="text-icaps">Voting ends Wed Aug 11 UTC-12.</span>
                </p>

                <div class="mb-3">
                  <div class="progress mb-2">
                    <i class="bi bi-trophy-fill trophy trophy-1"></i>
                    <div
                      class="
                        progress-bar progress-bar-striped progress-bar-animated
                        bg-gold
                      "
                      role="progressbar"
                      style="width: 0%"
                    ></div>
                    <span class="vote-number" id="vote-number-0"></span>
                  </div>

                  <div class="progress mb-2">
                    <i class="bi bi-trophy-fill trophy trophy-2"></i>
                    <div
                      class="
                        progress-bar progress-bar-striped progress-bar-animated
                        bg-silver
                      "
                      role="progressbar"
                      style="width: 0%"
                    ></div>
                    <span class="vote-number" id="vote-number-1"></span>
                  </div>

                  <div class="progress mb-2">
                    <i class="bi bi-trophy-fill trophy trophy-3"></i>
                    <div
                      class="
                        progress-bar progress-bar-striped progress-bar-animated
                        bg-bronze
                      "
                      role="progressbar"
                      style="width: 0%"
                    ></div>
                    <span class="vote-number" id="vote-number-2"></span>
                  </div>
                </div>

                <div class="mb-2">
                  <p class="text-muted small">
                    This is a live vote count. The names on the top 3 spots will
                    be revealed after the voting period is over.
                  </p>
                </div>

                <a class="btn btn-icaps text-white vote" href="#voting-area"
                  >Vote</a
                >

                <div class="card mt-5 mb-0">
                  <div class="card-body">
                    <h5 class="card-title">Spread the word!</h5>
                    <a
                      href="https://twitter.com/icapsconference"
                      target="_blank"
                      class="btn btn-info text-white mt-2"
                      ><i class="bi bi-twitter"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-no-border">
              <div class="card-body">
                <h5 class="card-title">Wanna build your own system?</h5>
                <p class="card-text small mb-2">
                  Check out these amazing planning softwares build by the ICAPS
                  community to get started. &#129299;
                </p>

                <ul class="list-group list-group-flush small">
                  <li class="list-group-item">
                    <a
                      href="http://www.fast-downward.org/"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/fd"
                      >Fast Downward</a
                    >
                    <span class="text-muted">Planning System</span>
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://github.com/aig-upf/tarski"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/tarski"
                      >Tarski</a
                    >
                    <span class="text-muted"
                      >An AI Planning Modeling Framework</span
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://kcl-planning.github.io/ROSPlan/"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/rosplan"
                      >ROSPlan</a
                    >
                    |
                    <a
                      href="https://github.com/IntelligentRoboticsLabs/ros2_planning_system"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/ros2"
                      >ROS2</a
                    >
                    <span class="text-muted">Planning and Robotics</span>
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://github.com/KCL-Planning/VAL"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/val"
                      >VAL</a
                    >
                    <span class="text-muted">The Plan Validation System</span>
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://nms.kcl.ac.uk/planning/software/optic.html"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/optic"
                      >OPTIC</a
                    >
                    |
                    <a
                      href="https://nms.kcl.ac.uk/planning/software"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/kcl_planner"
                      >KCL Planners</a
                    >
                    <span class="text-muted">with time and preferences</span>
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://github.com/QuMuLab/planner-for-relevant-policies"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/prp"
                      >PRP Planner</a
                    >
                    <span class="text-muted">Non-deterministic planning</span>
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://fai.cs.uni-saarland.de/hoffmann/ff.html"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/ff"
                      >Fast Forward</a
                    >
                    <span class="text-muted"
                      >Family of satisficing planners</span
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://github.com/IBM/AIPlanningService"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/ibm_top_k"
                      >IBM TOP-K Planners</a
                    >
                    <span class="text-muted"
                      >Diverse and Top-Quality planning</span
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://github.com/aibasel/pyperplan"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/pyperplan"
                      >Pyperplan</a
                    >
                    <span class="text-muted"
                      >A lightweight STRIPS planner in Python</span
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://lapkt-dev.github.io/docs/"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/lapkt"
                      >LAPKT</a
                    >
                    <span class="text-muted"
                      >A lightweight automated planning toolkit</span
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://github.com/AI-Planning/planutils"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/planutils"
                      >Planutils</a
                    >
                    <span class="text-muted"
                      >A linux-based planning environment</span
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="http://planning.domains/"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/planning_domains"
                      >Planning.Domains</a
                    >
                    <span class="text-muted">Planning on the web</span>
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://marketplace.visualstudio.com/items?itemName=jan-dolejsi.pddl"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/vs_code"
                      >VS Code</a
                    >
                    |
                    <a
                      href="https://packagecontrol.io/packages/myPDDL"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/sublime"
                      >Sublime</a
                    >
                    |
                    <a
                      href="https://atom.io/packages/mypddl"
                      target="_blank"
                      class="log-software-click"
                      loggerref="https://icaps21.icaps-conference.org/demoscripts/atom"
                      >Atom</a
                    >
                    <span class="text-muted">PDDL Plugins</span>
                  </li>
                  <li class="list-group-item">
                    <p class="text-muted mb-0">
                      Don't see something here? Contribute to the Planning
                      <a href="https://github.com/AI-Planning" target="_blank"
                        >GitHub</a
                      >, add to
                      <a href="https://planning.wiki/" target="_blank"
                        >Planning.Wiki</a
                      >, or send us an
                      <a href="mailto:tchakra2@ibm.com" target="_blank">email</a
                      >.
                    </p>
                  </li>
                  <li class="list-group-item">
                    <p class="text-muted mb-0">
                      <a
                        href="https://www.morganclaypool.com/doi/abs/10.2200/S00513ED1V01Y201306AIM022"
                        target="_blank"
                        ><i class="bi bi-book"></i
                      ></a>
                      <a
                        href="https://www.sciencedirect.com/book/9781558608566/automated-planning"
                        target="_blank"
                        ><i class="bi bi-book"></i
                      ></a>
                      Automated Planning
                    </p>
                    <p class="text-muted">
                      <a
                        href="http://www.morganclaypoolpublishers.com/catalog_Orig/product_info.php?products_id=1384"
                        target="_blank"
                        ><i class="bi bi-book"></i
                      ></a>
                      PDDL tips and tricks!
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <img src="../assets/images/demos/icaps.gif" style="float: right" />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
